* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

#root{
    font-family: 'Bebas Neue', cursive;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.interface{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
.time{
    position: absolute;
    top: 15%;
    width: 100%;
    color: white;
    font-size: 6vh;
    background-color: #00000033;
    padding: 1rem;
    text-align: center;
}
.restart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: #00000033;
    padding: .6rem;
    border-radius: 0.5rem;
    pointer-events: auto;
    cursor: pointer;
}

.controls{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    // background-color: cadetblue;
    .row{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
    .key{
        width: 3rem;
        height: 3rem;
        background-color: #00000033;
        border: 0.2rem solid #f9f9f9e9;
        border-radius: 0.4rem;
        pointer-events: auto;
        cursor: pointer;
        &.active{
            background-color: #efe9e9b5;
        }
    }
    .key.large{
        width: 10rem;
    }


}